.cl-movie {
    .cl-movie__info {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .cl-movie__header {
        .cl-movie__title {
            font-size: 1.35rem;
            border-left: 2px solid var(--primary);
            padding-left: 0.5rem;
        }
        .cl-movie__categories {
            font-size: 1rem;
            padding-left: calc(0.5rem + 2px);
        }
    }
    .cl-movie__overview {
        font-size: 1rem;
        margin-bottom: 1rem;

        p {
            color: var(--gray-100);
        }
    }

    .cl-movie__verticalHorizontal {
        background-color: var(--primary);
        margin: 1rem 0;
        height: 1px;
        width: 100%;
    }

    .cl-movie__cast p {
        margin-bottom: 1rem;
    }

    .cl-movie__actions { 
        display: flex;
        gap: 2rem;
        font-size: 1rem;

        & > span { 
            display: flex;
            gap: 0.25rem;
            align-items: center;
            cursor: pointer;
        }
    }

    .cl-movie__watch {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
    }

    .cl-movieCard__backButton {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
        padding: 0.5rem;
        background-color: var(--primary);
        color: var(--white);
    }
}

@media only screen and (max-width: 767px) {
    .cl-movie {
        iframe {
            height: 50vw;
        }

        .cl-movie__watch { 
            flex-flow: wrap;
            justify-content: center;
        }
        .cl-movie__info {
            flex-direction: column;
            .cl-movie__image {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 767px) {
    .cl-movie {
        iframe {
            height: 60vh;
        }

        .cl-movie__info {
            .cl-movie__image-mobile {
                display: none;
            }
        }

    }
}
