.cl-movie {
    .cl-movie__info {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .cl-movie__header {
        .cl-movie__title {
            font-size: 1.35rem;
            border-left: 2px solid var(--primary);
            padding-left: 0.5rem;
        }
        .cl-movie__categories {
            font-size: 1rem;
            padding-left: calc(0.5rem + 2px);
        }
    }
    .cl-movie__overview {
        font-size: 1rem;
        margin: 1rem 0;
        p {
            color: var(--gray-100);
        }
    }

    .cl-movie__verticalHorizontal {
        background-color: var(--primary);
        margin-top: 1rem;
        height: 1px;
        width: 100%;
    }

    .cl-movie__cast p {
        margin-bottom: 1rem;
    }

    .cl-movie__watch {
        margin-top: 1rem;
        display: flex;
        gap: 2rem;
    }
}

@media only screen and (max-width: 767px) {
    .cl-movie {
        iframe {
            height: 50vw;
        }

        .cl-movie__info {
            img {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 767px) {
    .cl-movie {
        iframe {
            height: 60vh;
        }
    }
}
