.cl-content { 
    width: 100%;
}

.cl-content__movies { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 2rem;
    padding: 1rem 5rem ;
}

.cl-content__thumbnail {
    border-radius: 5px;
}