.cl-sider {
    padding: 5rem;
    height: calc(100vh - 80px);

    .cl-sider__menu {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        position: fixed;
        z-index: 1;
        top: 10.5rem;

        a {
            text-decoration: none;
            color: var(--white-200);
            padding: 0.4rem;
        }

        a:hover,
        .cl-sider__item-active {
            border-left: 2px solid var(--primary);
            background: linear-gradient(90deg, var(--gray-200) 10%, var(--primary-dark) 100%);
        }
    }
}

@media only screen and (max-width: 767px) {
    .cl-sider {
        display: none;
    }
}
