.cl-sider {
    padding: 5rem;
    height: calc(100vh - 80px);

    .cl-sider__menu {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        position: fixed;
        z-index: 1;
        top: 50%;

        a {
            text-decoration: none;
            color: var(--white-200);
        }
    }
}
