.cf-movieThumb {
  position: relative;
  cursor: pointer;
  background-color: var(--primary-dark);

  img {
    width: 100%;
  }

  img,
  .cf-movieThumb__details {
    transition: opacity 0.5s ease-out;
  }

  .cf-movieThumb__details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 1.275rem;
  }

  &:hover {
    img {
      opacity: 0.25;
    }
    .cf-movieThumb__details {
      display: block;
      opacity: 1;
    }
  }
}

.cl-movieThumb__background {
  &.cl-movieThumb__background--open {
      height: 100vh;
      width: 100vw;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0; 
      cursor: default;
  }
}