.cl-header {
    .cl-header__desktop {
        padding: 2rem 5rem;
        align-items: center;
        gap: 2rem;
        flex-flow: row wrap;

        img {
            width: 100px;
        }
    }

    .cl-header__mobile {
        padding: 1.5rem;

        img {
            width: 50px;
        }

        .cl-header__mobile-menu {
            align-items: center;
            justify-content: space-between;
            display: flex;
            margin-bottom: 1rem;

            .cl-header__menu {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                gap: 2rem;
                a {
                    text-decoration: none;
                    color: var(--white-200);
                    padding: 0.4rem;
                }

                a:hover,
                .cl-sider__item-active {
                    border-left: 2px solid var(--primary);
                    background: linear-gradient(90deg, var(--gray-200) 10%, var(--primary-dark) 100%);
                }
            }
        }

        .cl-header__search {
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
                width: calc(100% - 14px - 1rem);
            }
        }
    }

    .cl-header__search {
        background: transparent;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid white;
        margin-left: 2.5rem;

        input {
            border: 0;
            outline: 0;
            border-radius: 5px;
            background: transparent;
        }
    }

    .cl-header__extra {
        margin-left: auto;
    }
}

@media only screen and (max-width: 767px) {
    .cl-header__mobile {
        display: block;
    }

    .cl-header__desktop {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .cl-header__mobile {
        display: none;
    }
    .cl-header__desktop {
        display: flex;
    }
}
