* {
    margin: 0;
    padding: 0;


    box-sizing: border-box;
}

:root {
    --white: #FFF;

    --primary: #EB7000;
    --primary-dark: #060606;

    --white-200: #c7c7c7;

    --gray-100: #797979;
    --gray-200: #423F3C;
}

@media (max-width: 1080px) { 
    html { 
        font-size: 93.75%; // 15px
    }
}

@media (max-width: 720px) { 
    html { 
        font-size: 87.5%; // 14px
    }
}

body {
    background-color: var(--primary-dark);
    opacity: 1;
}

body, input, textarea, button {
    font: 500 1rem 'Inter', sans-serif;
    color: var(--white-200);
}

h1, h2, h3, h4, h5, h6 { 
    font-weight: 600;
    font-family: 'Inter',   sans-serif;
    color: var(--white-200)
}

h1 { 
    font-size: 2rem;
}

h2 { 
    font-size: 1.5rem;
}

button { 
    cursor: pointer;
}